@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-nunito-sans), sans-serif;
  background-color: #F9F9F9;
}

:root {
  --white: #FFFFFF;
  --black: #000000;

  --primary: #571244;
  --primary-dark:#2C0922;
  --secondary: #EF4353;

  --main-text: #151515;
  --Subdued: #696969;

  --footer: #11040E;
}
